body{
    background-color: black;
    color: white;
}
section{
    background-color: rgb(47, 47, 47);
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
#acount-creation,a{
    text-align: right;
}
#page-links,a{
    text-align: left;
}
