body{
    background-color: rgb(246, 246, 246);
    color: rgb(14, 14, 14);
}
section{
    background-color: #ececec;
    margin-left: 10%;
    margin-right: 10%;
}
h1{
    text-align: center;
    font-family: Helvetica;
    font-size: xx-large;
    margin-bottom: 0;
}
h2{
    text-align: center;
    font-family: 'Times New Roman';
    font-size: small;
}