body{
    background-color: black;
    color: white;
}
section{
    background-color: #2f2f2f;
    margin-left: 20%;
    margin-right: 20%;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}